.wrongRoute{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d4d4d4;
    color: #111;
    
    .container{
        text-align: center;
        margin: 0 20px;
        .error{
            font-size: 150px;
        }
        .erorInfo{
            font-size: 30px;
            margin-bottom: 30px;
        }
        .link{
            font-size: 50px;
            .backBtn{
                width: 100%;
            }
        }
    }
}


@media (min-width: 768px) { 
    .wrongRoute{
        height: 750px;
        border-radius: 20px;
    }
  }