.hourly {
  padding-top: 20px;
}

.hourly .container .top-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.hourly .container .top-text .moreLink {
  display: flex;
  font-size: 15px;
  color: #71b4fa;
  text-decoration: none;
}

.hourly .container .top-text .moreLink .arrow-right {
  font-size: 1.2em;
}

.hourly .container .hourly-wather .hour-box {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.hourly .container .hourly-wather .hour-box .swiper {
  padding: 15px 10px;
}

.hourly .container .hourly-wather .hour-box .swiper-pagination-bullets {
  display: none;
}

.hourly .container .hourly-wather .hour-box .box {
  padding: 15px 5px;
  margin: 0 5px;
  border-radius: 30px;
  border: 1px solid #0d1a2c;
}

.hourly .container .hourly-wather .hour-box .box .temperature {
  font-size: 15px;
}

.hourly .container .hourly-wather .hour-box .box .weather-icon {
  padding: 5px 0;
}

.hourly .container .hourly-wather .hour-box .box .weather-icon img {
  width: 100%;
}

.hourly .container .hourly-wather .hour-box .box .time {
  font-size: 14px;
}

.hourly .container .hourly-wather .hour-box .active {
  border: none;
  background-color: rgba(0, 162, 255, 0.3);
  -webkit-box-shadow: 0px 0px 24px 0px #12a6fd;
  -moz-box-shadow: 0px 0px 24px 0px #12a6fd;
  box-shadow: 0px 0px 14px 0px #12a6fd;
}

@media (min-width: 768px) {
  .hourly {
    padding-top: 0;
  }
  .hourly .container .hourly-wather .hour-box .box {
    border: none;
  }
}
