
@media (min-width: 576px) { 
    .container{
        margin: 0 auto;
    }
  }

  @media (min-width: 768px) { 
    .container{
      min-width: 700px;
      max-width: 750px;
    }

  }

  @media (min-width: 992px) {
    .container{
      min-width: 980px;
    }
   }
