::-webkit-scrollbar {
  width: 0px;
  height: 0;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #FF0000;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

.cities .container .citiesList {
  position: relative;
  padding: 50px 5% 0 5%;
}

.cities .container .citiesList .arrow {
  width: 100%;
  font-size: 2em;
  text-align: left;
  color: #fff;
}

.cities .container .citiesList h2 {
  margin-bottom: 20px;
}

.cities .container .citiesList .searchForCity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cities .container .citiesList .searchForCity button {
  border: none;
  color: #fff;
  background-color: transparent;
  height: 40px;
  width: 40px;
  line-height: 25px;
}

.cities .container .citiesList .searchForCity .searchIcon {
  font-size: 25px;
  cursor: pointer;
}

.cities .container .citiesList .searchForCity input {
  width: 100%;
  padding: 10px 5px;
  margin: 0 10px;
  border: none;
  border-radius: 10px;
}

.cities .container .citiesList .citiesBox {
  width: 100%;
  height: 500px;
  margin-top: 30px;
  overflow: scroll;
}

.cities .container .citiesList .citiesBox .box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.cities .container .citiesList .citiesBox .box .link {
  text-decoration: none;
  width: 100%;
}

.cities .container .citiesList .citiesBox .box .city {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  border-radius: 10px;
  font-size: 1.2em;
  background-color: lightskyblue;
}

.cities .container .citiesList .citiesBox .box .city .cityName {
  padding: 30px 10px;
  border-radius: 10px;
  width: 100%;
  color: #000a19;
}

.cities .container .citiesList .citiesBox .box .city .cityTemp {
  position: absolute;
  right: 0;
  padding: 30px 10px;
}

.cities .container .citiesList .citiesBox .box .trashbin {
  display: block;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
}
