header {
  position: relative;
  background: #106af3;
  background: linear-gradient(0deg, #106af3 0%, #037cb4 82%);
  padding-top: 90px;
  border-bottom: 1px solid #2c97ec;
  border-radius: 0 0 50px 50px;
  color: #fff;
}

header .container .weather {
  margin: 0 20px;
}

header .container .weather .main-weather .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .container .weather .main-weather .img-box img {
  max-width: 50%;
}

header .container .weather .main-weather .temp-box {
  text-align: center;
}

header .container .weather .main-weather .temp-box h2 {
  position: relative;
  font-size: 140px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header .container .weather .main-weather .temp-box h2 span {
  position: absolute;
  top: 15px;
  font-size: 30px;
  color: #71b4fa;
}

header .container .weather .main-weather .temp-box h3 {
  font-size: 25px;
  font-weight: 300;
}

header .container .weather .main-weather .temp-box h6 {
  color: #71b4fa;
  padding-bottom: 20px;
}

header .container .weather .add-info {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  border-top: 1px solid #1e84f6;
}

header .container .weather .add-info .item-box {
  display: flex;
  justify-content: space-between;
}

header .container .weather .add-info .item-box .item {
  text-align: center;
}

header .container .weather .add-info .item-box .item .icon {
  color: #71b4fa;
}

header .container .weather .add-info .item-box .item .data {
  font-size: 14px;
}

header .container .weather .add-info .item-box .item .name {
  font-size: 10px;
  font-weight: bold;
  color: #6da7f9;
}

header .bot-shadow {
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: -10px;
  border-radius: 0 0 80px 80px;
  background-color: #063e8e;
  z-index: -1;
}

@media (min-width: 768px) {
  header {
    padding-top: 0;
    background: transparent;
    border: none;
  }
  header .container .weather {
    display: flex;
    justify-content: space-between;
  }
  header .container .weather .main-weather {
    max-width: 50%;
  }
  header .container .weather .main-weather .img-box {
    justify-content: flex-start;
  }
  header .container .weather .main-weather .temp-box {
    display: flex;
  }
  header .container .weather .main-weather .temp-box .temp {
    text-align: center;
  }
  header .container .weather .add-info {
    border: none;
    max-width: 50%;
    margin: 0;
  }
  header .container .weather .add-info .item-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  header .container .weather .add-info .item-box .item {
    text-align: right;
  }
  header .container .weather .add-info .item-box .item .icon {
    font-size: 30px;
  }
  header .container .weather .add-info .item-box .item .data {
    font-size: 20px;
  }
  header .container .weather .add-info .item-box .item .name {
    font-size: 15px;
    color: #fff;
  }
  header .bot-shadow {
    display: none;
  }
}

@media (min-width: 992px) {
  header .container .weather .main-weather .img-box img {
    max-width: 40%;
  }
}
