.more-days {
	.container {
		.days-list {
			position: relative;
			padding-top: 50px;
			margin: 0 auto;
			padding: 50px 5%;
			.arrow {
                width: 100%;
				text-align: left;
				font-size: 2em;
				color: #fff;
				text-decoration: none;
			}
			h2 {
				margin-bottom: 20px;
			}
			.days-box {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				.day {
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin: 10px auto;
					.day-name {
						width: 10%;
					}
					.weather-icon {
						display: flex;
						align-items: center;
						justify-content: flex-start;
						width: 20%;
						.icon {
							margin-right: 10px;
							img {
								height: 50px;
								width: 50px;
							}
						}
					}
					.temperature {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 25%;
						margin-left: 50px;
						span {
							font-size: 12px;
							color: #6da7f9;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
	.more-days {
		.container {
			max-width: 600px;
			.days-list {
				.day {
					margin: 15px 0;
					font-size: 1.2em;
				}
			}
		}
	}
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
