*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    height: 100vh;
    background-color: #000a19;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}



@media (min-width: 576px) { 
  .container{
      margin: 0 auto;
  }
}


@media (min-width: 768px) { 
  body{
    position: relative;
    background: linear-gradient(rgba(22, 28, 45, 0.75), rgba(22, 28, 45, 0.75)),
		url(../src/assets/xd/daylight.jpg);
    background-color: #000a19;
    background-size: cover;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container{
    
    min-width: 700px;
    max-width: 750px;
  }
  .smallTest{
    border: 1px solid black;
    border-radius: 20px;
    min-height: 750px;
  }
}


@media (min-width: 992px) {
  .container{
    min-width: 980px;
  }
 }


 @media (min-width: 1360px) { 

}


