header{
	position: relative;
	background: rgb(16,106,243);
	background: linear-gradient(0deg, rgba(16,106,243,1) 0%, rgb(3, 124, 180) 82%);
	// background: rgb(16,106,243);
	// background: linear-gradient(0deg, rgba(16,106,243,1) 0%, rgb(58, 191, 253) 35%);
	padding-top: 90px;
    border-bottom: 1px solid #2c97ec;
	border-radius: 0 0 50px 50px;
    color: #fff;
	.container {
		.weather{
			margin: 0 20px;
			.main-weather {
				.img-box {
					display: flex;
					justify-content: center;
					align-items: center;
					img {
						max-width: 50%;
					}
				}
				.temp-box {
					text-align: center;
					h2 {
						position: relative;
						font-size: 140px;
						font-family: Verdana, Geneva, Tahoma, sans-serif;
						span {
							position: absolute;
							top: 15px;
							font-size: 30px;
							color: #71b4fa;
						}
					}
					h3 {
						font-size: 25px;
						font-weight: 300;
					}
					h6 {
						color: #71b4fa;
						padding-bottom: 20px;
					}
				}
			}
			.add-info{
				width: 80%;
				margin: 0 auto;
				padding: 20px 0;
				border-top: 1px solid #1e84f6;
				.item-box{
					 display: flex;
					 justify-content: space-between;
					.item{
						text-align: center;
						.data{
							font-size: 14px;
						}
						.name{
							font-size: 10px;
							font-weight: bold;
							color: #6da7f9;
						}
					}
				}
			}
		}
        
	}
	.bot-shadow{
		position: absolute;
		height: 100px;
		width: 100%;
		bottom: -10px;
		border-radius: 0 0 80px 80px;
		background-color: #063e8e;
		z-index: -1;
	}
}









@media (min-width: 576px) { 

  }
  

  @media (min-width: 768px) { 
	header{
		padding-top: 0;
		background: transparent;
		border: none;
		.container{
			.weather{
				display: flex;
				justify-content: space-between;
				.main-weather{
					max-width: 50%;
					.img-box{
						justify-content: flex-start;
					}
					.temp-box{
						display: flex;
						.temp{
							text-align: center;
						}
					}
				}
				.add-info{
					border: none;
					max-width: 50%;
					margin: 0;
					.item-box{
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						height: 100%;
						.item{
							text-align: right;
							.icon{
								font-size: 30px;
							}
							.data{
								font-size: 20px;
							}
							.name{
								font-size: 15px;
								color: #fff;
							}
						}
					}
				}
			}
		}
		.bot-shadow{
			display: none;
		}
	}
  }
  

  @media (min-width: 992px) {
		header{
			.container{
				.weather{
					.main-weather{
						.img-box{
							img{
								max-width: 40%;
							}
						}
					}
				}
			}
		}
   }
  

  @media (min-width: 1200px) { 

  }









